// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-tab-bar-background: #D35400;
    --ion-tab-bar-color:  white; 
    --ion-tab-bar-color-selected: yellow; 
  }